<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Sneakerscape</title>
    <meta name="Keywords" content="adidasi, sneakers, incaltaminte, sneakers dama, sneakers barbati, reduceri incaltaminte, promotii incaltaminte, sneakers nike, sneakers adidas, sneakers puma">
    <meta name="Description" content="Cel mai tare magazin de adidasi din Romania! Promotii zilnice si reduceri garantate!">
    <%- include("../fragmente/head.ejs");%>
</head>
<body>
<%- include("../fragmente/header.ejs"); %>
<main>
    Despre companie
</main>
<%- include("../fragmente/footer.ejs"); %>
</body>
</html>
