<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Sneakerscape Club</title>
    <meta name="Description" content="Bine ai venit pe Sneakerscape Club!">
    <meta name="Keywords" content="Sneakerscape, sneakerscape club, club, sneaker club">
    <%- include("../fragmente/head.ejs");%>
</head>
<body>
<header>
    <h1>Sneakerscape Club</h1>
</header>
<main>
    <h2 id="user">Utilizator</h2>
    <div class="box"></div>
    <h2 id="password">Parola</h2>
    <div class="box"></div>
</main>
</body>
</html>