<footer>
    <p id="banner">Acesta este un proiect scolar. Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></p>
    <a href="#" title="Intoarce-te sus" id="link-top"><div id="top">&#129081;</div></a>
    <a href="politica_confidentialitate">Politica de confidentialitate</a>
    <a href="termeni_conditii">Termeni si conditii</a>
    <details>
        <summary>FAQ (intrebari frecvente)</summary>
        <ul>
            <li>Q: Ce este Sneakerscape?</li>
            <li>A: Sneakerscape este un nou proiect dedicat pentru sneakerheads. Ne propunem sa aducem o varietate cat mai mare de sneakersi pe piata, pentru a ne adapta in totalitate preferintelor clientilor nostri.</li>
            <li>Q: Cat dureaza livrarea?</li>
            <li>A: Nici noua nu ne place sa asteptam, asa ca Sneakerscape livreaza doar ce exista in stoc si garanteaza pentru sosirea in <b>maxim</b> 48 de ore a produselor la destinatie!</li>
            <li>Q: Am o problema cu produsele. Cum le pot returna?</li>
            <li>A: Nicio problema! Retururile se fac in maxim 14 zile (doua saptamani) de la primirea produselor. In plus, returul este gratuit: noi asiguram transportul, iar tu trebuie doar sa predai produsele curierului!</li>
        </ul>
    </details>
    <address>
        <a href="tel:021.83.69.88">Telefon de contact</a><br>
        <a href="https://goo.gl/maps/AGGsPHu1hPyPRDhu6" target="_blank">Ne poti vizita aici!</a><br>
        <a href="mailto:contact@sneakerscape.ro">Lasa-ne un e-mail aici!</a><br>
        <a href="https://wa.me/021836988">Scrie-ne pe Whatsapp aici!</a><br>
    </address>
    <small>&copy;<time datetime="2022">2022</time> Sneakerscape SRL. Toate drepturile rezervate.</small>
</footer>