<script>
    var tema = localStorage.getItem("tema");
    if (tema)
        document.body.classList.add("dark");
    else
        document.body.classList.remove("dark");
</script>
<header>
    <h1><span class="fa-brands fa-sitrox"></span> Sneakerscape</h1>
</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="meniu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li>
            <a href="/index">
            <div>
                <span id="text">Acasa</span>
                <span class="fa-solid fa-house" id="casuta"></span>
            </div></a>
            <ul>
                <li><a href="/index#incaltaminte_barbati"><div>Incaltaminte barbati</div></a></li>
                <li><a href="/index#incaltaminte_dama"><div>Incaltaminte dama</div></a></li>
                <li><a href="/index#incaltaminte_unisex"><div>Incaltaminte unisex</div></a></li>
                <li><a href="/index#promotie_primavara"><div>Fresh Spring Promo</div></a></li>
                <li><a href="/index#reduceri"><div>Reduceri</div></a></li>
            </ul>
        </li>
        <li><a href="#"><div class="optiune">Contact</div></a></li>
        <li><a href="#"><div class="optiune">Retur</div></a></li>
        <li><a href="/produse"><div class="optiune">Produse</div></a> </li>
        <li><a href="/inregistrare"><div class="optiune">Sneakerscape Club</div></a></li>
        <li><a href="/cos-virtual"><div class="optiune">Cos</div></a></li>
        <% if (locals.utilizator && locals.utilizator.rol == "admin") { %>
            <li><a href="/useri">Useri</a></li>
        <% } %>
        <% if (locals.utilizator) { %>
            <% console.log(locals.utilizator)%>
            <li><div><%- locals.utilizator.username %></div>
                <ul>
                    <li><a href="/profil">Profil</a> </li>
                    <li><a href="/logout">Log out</a> </li>
                </ul>
            </li>
        <% } %>
    </ul>
</nav>